# Node.js və sistem faylları
node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Git və redaktə faylları
.git
.gitignore
.DS_Store
.env
*.log

# IDE və müvəqqəti fayllar
.vscode
.idea
*.swp
*.swo

# Render və build çıxışları
bin/
dist/
build/
tmp/